# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
ios/Pods/
android/.gradle/
android/build/
android/app/build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Env
.env
.env.local
.env.*.local
!.env.example

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Build artifacts
*.tsbuildinfo
coverage/
